*{
    margin:0;
    padding:0;
    font-family: 'Noto Serif', serif;
    box-sizing: border-box;
}
header{
    background-image: url(./images/background2.jpg);
    background-size:cover;
    background-repeat: no-repeat;
}
/* navbar style start */
nav{
    display: flex;
    justify-content: space-between;
    color:white;
    padding:20px;
    margin:0px 200px;
}

/* logo style start */
.logo img{
    width: 70px;
    height: 40px;
}

/* logo style end */
.menu ul{
    display: flex;
    align-items: center;
}
.menu li{
    list-style: none;
    margin-left: 50px;
    font-weight: 600;
}
.menu li a{
    text-decoration: none;
    color: white;
}
.menu li a:hover{
    color: rgb(10, 120, 100);
    font-weight: 700;
    
}
/* hire button style start  */
.hire_btn{
    background-color: rgb(17, 120, 100);
    color:white;
    text-decoration: none;
    padding:10px 20px;
    border: none;
}
.hire_btn:hover{
    background-color: white;
    color:rgb(17, 120, 100);
}
/* hire button style end  */

/* nav style end */

/* banner style start */
.banner{
    display: flex;
    justify-content: space-between;
    color:white;
    align-items: center;
    gap:50px;
    margin:50px 200px;
}
/* banner text style */
.banner-text{
    flex-basis: 60%;
}
.banner-text h2{
    font-size: 30px;
    margin:10px 0;
}
.header-btn{
    display: flex;
    gap: 5px;
    font-family:'Noto Serif', serif;
}
.cv-btn{
    background-color:blueviolet;
    color:white;
    text-decoration: none;
    padding:10px 20px;
    border: none;
}
.cv-btn:hover{
    background-color: white;
    color:blueviolet;
    text-decoration: none;
    padding:10px 30px;
    border: none;
}
.header-btn .hire_btn, .cv-btn{
    font-weight: 600;
}
.banner-img{
    flex-basis: 40%;
    display: flex;
    justify-content: center;
}
.banner-img img{
   width: 100%;
}

/* banner style ended */

main{
    max-width: 1440px;
    margin: auto;
}
section{
    padding:100px 200px; 
}
/* about section started */

.about-section{
    background-color: #293f5315;
    text-align: center;
}
.section-title{
    font-size: 30px;
    margin-bottom: 30px;
}
.section-description{
    margin-bottom: 50px;
}
.my-info{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 20px;
}
.info{
    font-weight: 700;
    margin-top: 10px;
}
/* about section ended  */

/* skills section started */
#skill-section{
    text-align: center;
}
.skill-container{
    display: flex;
    justify-content: space-between;
    gap:20px;
}
.skill{
    box-shadow: 0px 10px 25px gray;
    padding:30px;
    border-radius: 15px;
}
.skill img{
    width:200px;
    height: 200px;
}
/* skill section ended */

/* resume section */
.resume{
    background-color: #293f5315;
    margin-bottom: 50px;
}
.resume-container{
    margin-top: 50px;
    display: flex;
    justify-content: space-between;
    gap: 50px;
}
.resume .section-title{
    text-align: center;
}
.resume-title{
    margin-bottom: 30px;
}
.resume-info{
    margin-bottom: 30px;
}
.institute{
    color:gray;
    margin: 5px 0px;
}
/* resume section ended */

/* contact section started  */
#contact-section{
    background-image: url(/images/background.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    margin-bottom: 50px;
}
#contact-section .section-title{
    text-align: center;
}
.contact-section{
    box-shadow: 0px 10px 25px gray;
    border-radius: 15px;
}
.contact-container{
   display: flex;
   gap: 20px;
   align-items: space-between;
}
.contact-img{
    flex-basis:50%;
}
.contact-img img{
    width: 100%;
}
.contact-from{
    flex-basis: 50%;
}
.contact-from input,textarea{
    margin-bottom: 10px;
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border: 3px solid rgb(17, 120, 100);
}

.submit-btn{
    background-color: rgb(17, 120, 100);
    color:white;
    border: none;
    font-weight: 700;
}
.submit-btn:hover{
    background-color: white;
    color:rgb(17, 120, 100);
    border: 3px solid rgb(17, 120, 100);
    font-weight: 700;
}
/* contact section ended  */

/* footer section started  */

.footer-section{
    background-image: url(/images/footer.png);
    background-size: cover;
    background-repeat: no-repeat;
    color:white;
}
.social{
    padding:20px;
}
.social h3{
    margin-bottom: 20px;
}
.social .fb,.git,.linkin{
    margin-right: 20px;
}

.fb{
    font-size: 30px;
    text-decoration: none;
    color: white;
}
.linkin{
    font-size: 30px;
    text-decoration: none;
    color: white;
}
.git{
    font-size: 30px;
    text-decoration: none;
    color: white;
}

.footer-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap:20px;
}
.address h3,p{
    margin-bottom: 20px;
}
.copyright-text{
    text-align: center;
    margin-top: 20px;
}
/* footer ended  */